*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
/*common css*/
body{
	font-family: 'Roboto', sans-serif;
	font-size: 23px;
}
.clr{
	clear: both;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
	color: black;
}
.wrapper{
	width: 100%;
	margin: auto;
}
/*common css ends here*/

/*header style starts*/
.top{
	width: 100%;
	height: 40px;
	background-color: #c2c2c2;
	font-size: 14px;
	padding-left: 10px;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
}	

.top-right{
	float: right;
	padding-right: 10px;
}
.top-right:hover a[href]{
	color: blue;
}
.header_logo{
	padding-left: 47px;
	font-family: 'Open Sans', sans-serif;	
}

.cc_no{
	float: right;
	margin-right: 10px;
	margin-top: -30px;
}

nav{
	width: 100%;
	height: 50px;
	background-color: #891b02;
	margin-top: 10px;

}
nav ul{
	display: inline;

}
nav ul li{
	display: inline;
}
nav ul li a{
	text-decoration: none;
	line-height: 50px;
	text-transform: uppercase;
	float: left;
	color: #c9a7a3;
	padding: 0px 20px;
	font-family: 'Roboto', sans-serif;
}

li:hover a{
	background-color: black;
}
.slider{
	width: 100%;
	position: relative;	
}
.overlay{
	width: 470px;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(83,19,2,.5);
	clip-path: polygon(0 0, 100% 0%, 64% 100%, 0% 100%);
}
.overlay p{
	padding-top: 80px;
	padding-left: 23px;
	color: white;
	font-family: 'Roboto', sans-serif;

}
.wrapper > img{
	height: 500px;
}

.overlay > button{
	text-transform: uppercase;
	background-color: rgba(83,19,2,.1);
	width: 183px;
	height: 51px;
	border: 1px solid #630504;
	border-radius: 30px;
	margin-top: 20px;
	margin-left: 20px;
	outline: none;
	cursor: pointer;
	padding: 0px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
.overlay:hover button{
	color: tomato;
	border-color: cyan;
	transition: ease-in-out 1s;
	transform: rotateY(360deg);
}


/*products*/
.info h2{
	padding: 12px 0px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
}
h2 > span{
	color: #fb0000;
}
.info p{
	padding: 0px 0px 35px 0px;
	font-family: 'Roboto', sans-serif;
}

.wrapper_pro{
	width: 90%;
	margin: auto;
}
.container{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
	width: 100%;
	height: 500px;
}

.item{
	width: 280px;
	height: 230px;
	border: 1px solid #c9c9c9;

}
.item img{	
	width: 100%;
	height: 194px;
}
.item p{
	color: white;
	background-color: #c02f2f;
	width: 100%;
	margin-bottom: 0px;
	padding-top: -2px;
	text-transform: uppercase;
	text-align: center;
}

.container-box{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 102px;

	background-color: #c2c2c2;
}
.box{
	background-color: #891b02;
	width: 681px;
	height: 102px;
	clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
}
.box1{
	background-color: #c2c2c2;
	width: 681px;
	height: 102px;
}
.box h4{
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 12px;

}
.box p{
	color: white;
	text-align: center;
	padding-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 18px;
}
.box1 h4{
	text-transform: uppercase;
	color: black;
	text-align: center;
	padding-top: 12px;

}
.box1 p{
	color: black;
	text-align: center;
	padding-top: 5px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.contact{
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 10%;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}
.form{
	grid-column-start: 1;
	grid-column-end: 2;
}

input[type="text"]{
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	outline: none;
	padding: 0px;
	border-color: #b7b9b9;
}
input[type="email"]{
	margin-bottom: 20px;
	width: 100%;
	height: 40px;
	outline: none;
	padding: 0px;
	border-color: #b7b9b9;
}
textarea{
	margin-bottom: 20px;
	width: 100%;
	height: 90px;
	outline: none;
	padding: 0px;
	border-color: #b7b9b9;
}
input[type="submit"]{
	width: 150px;
	height: 45px;
	background-color: #a7a2a2;
	color: black;
	outline: none;
	border-color: #b7b9b9;
	padding: 0px;
	cursor: pointer;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 3px 4px 3px #8d8d8d;
}
footer{
	height: 200px;
	background-color: #000000;
	color: white;
}

.wrapper h3{
	padding: 35px 20px;
}
.wrapper h5{
	float: right;
	padding-right: 35px;
	margin-top: -54px; 
}
#btn{
	width: 13%;
	height: 40px;
	padding: 0px;
	outline: none;
	text-transform: uppercase;
	float: right;
	border: 0px;
	margin-right: 75px;
	margin-top: 5px;
	border-radius: 13px;
	cursor: pointer;
	background-color: #d3edce;
	font-weight: bold;
}
.social_group{
	margin-left: 20px;
}
.social_ico{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #ebebeb;
	margin-left: 7px;
	float: left;
	text-align: center;
}
.social_ico i{
	color: #060606;
	line-height: 50px;

}
